human 1 chimp 1 gorilla 1 pongo 1 macaca 1
human 2 chimp 2A gorilla 2A pongo 2A macaca 13
human 2 chimp 2B gorilla 2B pongo 2B macaca 12
human 3 chimp 3 gorilla 3 pongo 3 macaca 2
human 4 chimp 4 gorilla 4 pongo 4 macaca 5
human 5 chimp 5 gorilla 5 pongo 5 macaca 6
human 5 gorilla 17
human 6 chimp 6 gorilla 6 pongo 6 macaca 4
human 7 chimp 7 gorilla 7 pongo 7 macaca 3
human 8 chimp 8 gorilla 8 pongo 8 macaca 8
human 9 chimp 9 gorilla 9 pongo 9 macaca 15
human 10 chimp 10 gorilla 10 pongo 10 macaca 9
human 11 chimp 11 gorilla 11 pongo 11 macaca 14
human 12 chimp 12 gorilla 12 pongo 12 macaca 11
human 13 chimp 13 gorilla 13 pongo 13 macaca 17
human 14 chimp 14 gorilla 14 pongo 14 macaca 7
human 15 chimp 15 gorilla 15 pongo 15 macaca 7
human 16 chimp 16 gorilla 16 pongo 16 macaca 20
human 17 chimp 17 gorilla 17 pongo 17 macaca 16
gorilla 17 macaca 6
human 18 chimp 18 gorilla 18 pongo 18 macaca 18
human 19 chimp 19 gorilla 19 pongo 19 macaca 19
human 20 chimp 20 gorilla 20 pongo 20 macaca 10
human 21 chimp 21 gorilla 21 pongo 21 macaca 3
human 22 chimp 22 gorilla 22 pongo 22 macaca 10
human X chimp X gorilla X pongo X macaca X
