chimp/chimp1.fa.ACGT macaca_fascicularis/macaca_fascicularis1.fa.ACGT
chimp/chimp2A.fa.ACGT macaca_fascicularis/macaca_fascicularis13.fa.ACGT
chimp/chimp2B.fa.ACGT macaca_fascicularis/macaca_fascicularis12.fa.ACGT
chimp/chimp3.fa.ACGT macaca_fascicularis/macaca_fascicularis2.fa.ACGT
chimp/chimp4.fa.ACGT macaca_fascicularis/macaca_fascicularis5.fa.ACGT
chimp/chimp5.fa.ACGT macaca_fascicularis/macaca_fascicularis6.fa.ACGT
chimp/chimp6.fa.ACGT macaca_fascicularis/macaca_fascicularis4.fa.ACGT
chimp/chimp7.fa.ACGT macaca_fascicularis/macaca_fascicularis3.fa.ACGT
chimp/chimp8.fa.ACGT macaca_fascicularis/macaca_fascicularis8.fa.ACGT
chimp/chimp9.fa.ACGT macaca_fascicularis/macaca_fascicularis15.fa.ACGT
chimp/chimp10.fa.ACGT macaca_fascicularis/macaca_fascicularis9.fa.ACGT
chimp/chimp11.fa.ACGT macaca_fascicularis/macaca_fascicularis14.fa.ACGT
chimp/chimp12.fa.ACGT macaca_fascicularis/macaca_fascicularis11.fa.ACGT
chimp/chimp13.fa.ACGT macaca_fascicularis/macaca_fascicularis17.fa.ACGT
chimp/chimp14.fa.ACGT macaca_fascicularis/macaca_fascicularis7.fa.ACGT
chimp/chimp15.fa.ACGT macaca_fascicularis/macaca_fascicularis7.fa.ACGT
chimp/chimp16.fa.ACGT macaca_fascicularis/macaca_fascicularis20.fa.ACGT
chimp/chimp17.fa.ACGT macaca_fascicularis/macaca_fascicularis16.fa.ACGT
chimp/chimp18.fa.ACGT macaca_fascicularis/macaca_fascicularis18.fa.ACGT
chimp/chimp19.fa.ACGT macaca_fascicularis/macaca_fascicularis19.fa.ACGT
chimp/chimp20.fa.ACGT macaca_fascicularis/macaca_fascicularis10.fa.ACGT
chimp/chimp21.fa.ACGT macaca_fascicularis/macaca_fascicularis3.fa.ACGT
chimp/chimp22.fa.ACGT macaca_fascicularis/macaca_fascicularis10.fa.ACGT
chimp/chimpX.fa.ACGT macaca_fascicularis/macaca_fascicularisX.fa.ACGT
