gorilla/chimp1.fa.ACGT pongo/pongo1.fa.ACGT
gorilla/chimp2A.fa.ACGT pongo/pongo2A.fa.ACGT
gorilla/chimp2B.fa.ACGT pongo/pongo2B.fa.ACGT
gorilla/chimp3.fa.ACGT pongo/pongo3.fa.ACGT
gorilla/chimp4.fa.ACGT pongo/pongo4.fa.ACGT
gorilla/chimp5.fa.ACGT pongo/pongo5.fa.ACGT
gorilla/chimp6.fa.ACGT pongo/pongo6.fa.ACGT
gorilla/chimp7.fa.ACGT pongo/pongo7.fa.ACGT
gorilla/chimp8.fa.ACGT pongo/pongo8.fa.ACGT
gorilla/chimp9.fa.ACGT pongo/pongo9.fa.ACGT
gorilla/chimp10.fa.ACGT pongo/pongo10.fa.ACGT
gorilla/chimp11.fa.ACGT pongo/pongo11.fa.ACGT
gorilla/chimp12.fa.ACGT pongo/pongo12.fa.ACGT
gorilla/chimp13.fa.ACGT pongo/pongo13.fa.ACGT
gorilla/chimp14.fa.ACGT pongo/pongo14.fa.ACGT
gorilla/chimp15.fa.ACGT pongo/pongo15.fa.ACGT
gorilla/chimp16.fa.ACGT pongo/pongo16.fa.ACGT
gorilla/chimp17.fa.ACGT pongo/pongo17.fa.ACGT
gorilla/chimp18.fa.ACGT pongo/pongo18.fa.ACGT
gorilla/chimp19.fa.ACGT pongo/pongo19.fa.ACGT
gorilla/chimp20.fa.ACGT pongo/pongo20.fa.ACGT
gorilla/chimp21.fa.ACGT pongo/pongo21.fa.ACGT
gorilla/chimp22.fa.ACGT pongo/pongo22.fa.ACGT
gorilla/chimpX.fa.ACGT pongo/pongoX.fa.ACGT
