gorilla/gorilla1.fa.ACGT macaca_fascicularis/macaca_fascicularis1.fa.ACGT
gorilla/gorilla2A.fa.ACGT macaca_fascicularis/macaca_fascicularis13.fa.ACGT
gorilla/gorilla2B.fa.ACGT macaca_fascicularis/macaca_fascicularis12.fa.ACGT
gorilla/gorilla3.fa.ACGT macaca_fascicularis/macaca_fascicularis2.fa.ACGT
gorilla/gorilla4.fa.ACGT macaca_fascicularis/macaca_fascicularis5.fa.ACGT
gorilla/gorilla5.fa.ACGT macaca_fascicularis/macaca_fascicularis6.fa.ACGT
gorilla/gorilla6.fa.ACGT macaca_fascicularis/macaca_fascicularis4.fa.ACGT
gorilla/gorilla7.fa.ACGT macaca_fascicularis/macaca_fascicularis3.fa.ACGT
gorilla/gorilla8.fa.ACGT macaca_fascicularis/macaca_fascicularis8.fa.ACGT
gorilla/gorilla9.fa.ACGT macaca_fascicularis/macaca_fascicularis15.fa.ACGT
gorilla/gorilla10.fa.ACGT macaca_fascicularis/macaca_fascicularis9.fa.ACGT
gorilla/gorilla11.fa.ACGT macaca_fascicularis/macaca_fascicularis14.fa.ACGT
gorilla/gorilla12.fa.ACGT macaca_fascicularis/macaca_fascicularis11.fa.ACGT
gorilla/gorilla13.fa.ACGT macaca_fascicularis/macaca_fascicularis17.fa.ACGT
gorilla/gorilla14.fa.ACGT macaca_fascicularis/macaca_fascicularis7.fa.ACGT
gorilla/gorilla15.fa.ACGT macaca_fascicularis/macaca_fascicularis7.fa.ACGT
gorilla/gorilla16.fa.ACGT macaca_fascicularis/macaca_fascicularis20.fa.ACGT
gorilla/gorilla17.fa.ACGT macaca_fascicularis/macaca_fascicularis16.fa.ACGT
gorilla/gorilla18.fa.ACGT macaca_fascicularis/macaca_fascicularis18.fa.ACGT
gorilla/gorilla19.fa.ACGT macaca_fascicularis/macaca_fascicularis19.fa.ACGT
gorilla/gorilla20.fa.ACGT macaca_fascicularis/macaca_fascicularis10.fa.ACGT
gorilla/gorilla21.fa.ACGT macaca_fascicularis/macaca_fascicularis3.fa.ACGT
gorilla/gorilla22.fa.ACGT macaca_fascicularis/macaca_fascicularis10.fa.ACGT
gorilla/gorillaX.fa.ACGT macaca_fascicularis/macaca_fascicularisX.fa.ACGT
