human/human1.fa.ACGT gorilla/gorilla1.fa.ACGT
human/human2.fa.ACGT gorilla/gorilla2A.fa.ACGT
human/human2.fa.ACGT gorilla/gorilla2B.fa.ACGT
human/human3.fa.ACGT gorilla/gorilla3.fa.ACGT
human/human4.fa.ACGT gorilla/gorilla4.fa.ACGT
human/human5.fa.ACGT gorilla/gorilla5.fa.ACGT
human/human5.fa.ACGT gorilla/gorilla17.fa.ACGT
human/human6.fa.ACGT gorilla/gorilla6.fa.ACGT
human/human7.fa.ACGT gorilla/gorilla7.fa.ACGT
human/human8.fa.ACGT gorilla/gorilla8.fa.ACGT
human/human9.fa.ACGT gorilla/gorilla9.fa.ACGT
human/human10.fa.ACGT gorilla/gorilla10.fa.ACGT
human/human11.fa.ACGT gorilla/gorilla11.fa.ACGT
human/human12.fa.ACGT gorilla/gorilla12.fa.ACGT
human/human13.fa.ACGT gorilla/gorilla13.fa.ACGT
human/human14.fa.ACGT gorilla/gorilla14.fa.ACGT
human/human15.fa.ACGT gorilla/gorilla15.fa.ACGT
human/human16.fa.ACGT gorilla/gorilla16.fa.ACGT
human/human17.fa.ACGT gorilla/gorilla17.fa.ACGT
human/human18.fa.ACGT gorilla/gorilla18.fa.ACGT
human/human19.fa.ACGT gorilla/gorilla19.fa.ACGT
human/human20.fa.ACGT gorilla/gorilla20.fa.ACGT
human/human21.fa.ACGT gorilla/gorilla21.fa.ACGT
human/human22.fa.ACGT gorilla/gorilla22.fa.ACGT
human/humanX.fa.ACGT gorilla/gorillaX.fa.ACGT
