human/human1.fa.ACGT macaca_fascicularis/macaca_fascicularis1.fa.ACGT
human/human2.fa.ACGT macaca_fascicularis/macaca_fascicularis2A.fa.ACGT
human/human2x.fa.ACGT macaca_fascicularis/macaca_fascicularis2B.fa.ACGT
human/human3.fa.ACGT macaca_fascicularis/macaca_fascicularis3.fa.ACGT
human/human4.fa.ACGT macaca_fascicularis/macaca_fascicularis4.fa.ACGT
human/human5.fa.ACGT macaca_fascicularis/macaca_fascicularis5.fa.ACGT
human/human6.fa.ACGT macaca_fascicularis/macaca_fascicularis6.fa.ACGT
human/human7.fa.ACGT macaca_fascicularis/macaca_fascicularis7.fa.ACGT
human/human8.fa.ACGT macaca_fascicularis/macaca_fascicularis8.fa.ACGT
human/human9.fa.ACGT macaca_fascicularis/macaca_fascicularis9.fa.ACGT
human/human10.fa.ACGT macaca_fascicularis/macaca_fascicularis10.fa.ACGT
human/human11.fa.ACGT macaca_fascicularis/macaca_fascicularis11.fa.ACGT
human/human12.fa.ACGT macaca_fascicularis/macaca_fascicularis12.fa.ACGT
human/human13.fa.ACGT macaca_fascicularis/macaca_fascicularis13.fa.ACGT
human/human14.fa.ACGT macaca_fascicularis/macaca_fascicularis14.fa.ACGT
human/human15.fa.ACGT macaca_fascicularis/macaca_fascicularis15.fa.ACGT
human/human16.fa.ACGT macaca_fascicularis/macaca_fascicularis16.fa.ACGT
human/human17.fa.ACGT macaca_fascicularis/macaca_fascicularis17.fa.ACGT
human/human18.fa.ACGT macaca_fascicularis/macaca_fascicularis18.fa.ACGT
human/human19.fa.ACGT macaca_fascicularis/macaca_fascicularis19.fa.ACGT
human/human20.fa.ACGT macaca_fascicularis/macaca_fascicularis20.fa.ACGT
human/human21.fa.ACGT macaca_fascicularis/macaca_fascicularis20.fa.ACGT
human/human22.fa.ACGT macaca_fascicularis/macaca_fascicularis20.fa.ACGT
human/humanX.fa.ACGT macaca_fascicularis/macaca_fascicularisX.fa.ACGT
