human/human1.fa.ACGT pig/pig1.fa.ACGT
human/human2.fa.ACGT pig/pig2.fa.ACGT
human/human3.fa.ACGT pig/pig3.fa.ACGT
human/human4.fa.ACGT pig/pig4.fa.ACGT
human/human5.fa.ACGT pig/pig5.fa.ACGT
human/human6.fa.ACGT pig/pig6.fa.ACGT
human/human7.fa.ACGT pig/pig7.fa.ACGT
human/human8.fa.ACGT pig/pig8.fa.ACGT
human/human9.fa.ACGT pig/pig9.fa.ACGT
human/human10.fa.ACGT pig/pig10.fa.ACGT
human/human11.fa.ACGT pig/pig11.fa.ACGT
human/human12.fa.ACGT pig/pig12.fa.ACGT
human/human13.fa.ACGT pig/pig13.fa.ACGT
human/human14.fa.ACGT pig/pig14.fa.ACGT
human/human15.fa.ACGT pig/pig15.fa.ACGT
human/human16.fa.ACGT pig/pig16.fa.ACGT
human/human17.fa.ACGT pig/pig17.fa.ACGT
human/human18.fa.ACGT pig/pig18.fa.ACGT
human/human19.fa.ACGT pig/pig18.fa.ACGT
human/human20.fa.ACGT pig/pig18.fa.ACGT
human/human21.fa.ACGT pig/pig18.fa.ACGT
human/human22.fa.ACGT pig/pig18.fa.ACGT
human/humanX.fa.ACGT pig/pigX.fa.ACGT
