pongo/pongo1.fa.ACGT macaca_fascicularis/macaca_fascicularis1.fa.ACGT
pongo/pongo2A.fa.ACGT macaca_fascicularis/macaca_fascicularis13.fa.ACGT
pongo/pongo2B.fa.ACGT macaca_fascicularis/macaca_fascicularis12.fa.ACGT
pongo/pongo3.fa.ACGT macaca_fascicularis/macaca_fascicularis2.fa.ACGT
pongo/pongo4.fa.ACGT macaca_fascicularis/macaca_fascicularis5.fa.ACGT
pongo/pongo5.fa.ACGT macaca_fascicularis/macaca_fascicularis6.fa.ACGT
pongo/pongo6.fa.ACGT macaca_fascicularis/macaca_fascicularis4.fa.ACGT
pongo/pongo7.fa.ACGT macaca_fascicularis/macaca_fascicularis3.fa.ACGT
pongo/pongo8.fa.ACGT macaca_fascicularis/macaca_fascicularis8.fa.ACGT
pongo/pongo9.fa.ACGT macaca_fascicularis/macaca_fascicularis15.fa.ACGT
pongo/pongo10.fa.ACGT macaca_fascicularis/macaca_fascicularis9.fa.ACGT
pongo/pongo11.fa.ACGT macaca_fascicularis/macaca_fascicularis14.fa.ACGT
pongo/pongo12.fa.ACGT macaca_fascicularis/macaca_fascicularis11.fa.ACGT
pongo/pongo13.fa.ACGT macaca_fascicularis/macaca_fascicularis17.fa.ACGT
pongo/pongo14.fa.ACGT macaca_fascicularis/macaca_fascicularis7.fa.ACGT
pongo/pongo15.fa.ACGT macaca_fascicularis/macaca_fascicularis7.fa.ACGT
pongo/pongo16.fa.ACGT macaca_fascicularis/macaca_fascicularis20.fa.ACGT
pongo/pongo17.fa.ACGT macaca_fascicularis/macaca_fascicularis16.fa.ACGT
pongo/pongo18.fa.ACGT macaca_fascicularis/macaca_fascicularis18.fa.ACGT
pongo/pongo19.fa.ACGT macaca_fascicularis/macaca_fascicularis19.fa.ACGT
pongo/pongo20.fa.ACGT macaca_fascicularis/macaca_fascicularis10.fa.ACGT
pongo/pongo21.fa.ACGT macaca_fascicularis/macaca_fascicularis3.fa.ACGT
pongo/pongo22.fa.ACGT macaca_fascicularis/macaca_fascicularis10.fa.ACGT
pongo/pongoX.fa.ACGT macaca_fascicularis/macaca_fascicularisX.fa.ACGT
