human/human1.fa.ACGT chimp/chimp1.fa.ACGT
human/human2.fa.ACGT chimp/chimp2A.fa.ACGT
human/human2x.fa.ACGT chimp/chimp2B.fa.ACGT
human/human3.fa.ACGT chimp/chimp3.fa.ACGT
human/human4.fa.ACGT chimp/chimp4.fa.ACGT
human/human5.fa.ACGT chimp/chimp5.fa.ACGT
human/human6.fa.ACGT chimp/chimp6.fa.ACGT
human/human7.fa.ACGT chimp/chimp7.fa.ACGT
human/human8.fa.ACGT chimp/chimp8.fa.ACGT
human/human9.fa.ACGT chimp/chimp9.fa.ACGT
human/human10.fa.ACGT chimp/chimp10.fa.ACGT
human/human11.fa.ACGT chimp/chimp11.fa.ACGT
human/human12.fa.ACGT chimp/chimp12.fa.ACGT
human/human13.fa.ACGT chimp/chimp13.fa.ACGT
human/human14.fa.ACGT chimp/chimp14.fa.ACGT
human/human15.fa.ACGT chimp/chimp15.fa.ACGT
human/human16.fa.ACGT chimp/chimp16.fa.ACGT
human/human17.fa.ACGT chimp/chimp17.fa.ACGT
human/human18.fa.ACGT chimp/chimp18.fa.ACGT
human/human19.fa.ACGT chimp/chimp19.fa.ACGT
human/human20.fa.ACGT chimp/chimp20.fa.ACGT
human/human21.fa.ACGT chimp/chimp21.fa.ACGT
human/human22.fa.ACGT chimp/chimp22.fa.ACGT
human/humanX.fa.ACGT chimp/chimpX.fa.ACGT
human/humanY.fa.ACGT chimp/chimpY.fa.ACGT
